<p>
  <strong>Answerer:</strong>
  <%= answer.answerer %>
</p>

<p>
  <strong>Answer:</strong>
  <%= answer.body %>
</p>

<p>
  <%= link_to 'Edit Answer', edit_question_answer_path(answer.question, answer) %>
  <%= link_to 'Delete Answer', [answer.question, answer],
                                method: :delete,
                                data: { confirm: "Forreal?" } %>

</p>

<h4>Answer Comments</h4>
<%= render answer.comments %>

<h2>Add a comment: </h2>
  <%= render 'comments/form' %>
