<h1>Questions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th colspan="3"></th>
  </tr>

  <% @questions.each do |question| %>
    <tr>
      <td><%= link_to question.title, question_path(question) %></td>
      <td><%= question.body %></td>
      <td><%= link_to "Edit", edit_question_path(question) %></td>
      <td><%= link_to "Delete", question_path(question),
          method: :delete,
          data: { confirm: "Fo sho?" } %></td>
    </tr>
  <% end %>
</table>

<%= link_to "New Question", new_question_path %>
