<p>
  <strong>Title: </strong>
  <%= @question.title %>
</p>

<p>
  <strong>Body: </strong>
  <%= @question.body %>
</p>

<h4>Question Comments: </h4>
  <%= render @question.comments %>

<h4>Add a comment: </h4>
  <%= render 'comments/form' %>

<h2>Answers: </h2>
  <%= render @question.answers %>

<h2>Add an answer: </h2>
  <%= render 'answers/form' %>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
